/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  color: #fff;
  border-top: 5px solid #c00;
      border-top: 5px solid var(--buhp-homepage-accent-color-secondary, #c00);
}

/* HERO */
.hero {
  position: relative;
  height: 90vh;

  background-image: url("img/pr-4-500x344.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

/* OVERLAY */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
}

/* TOP NAV */
.top-nav {
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  padding: 18px 40px;
}

/* LEFT NAV */
.left-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.left-nav i {
  font-size: 16px;
}

.main-links a {
  margin-left: 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

/* LOGO */
.logo {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

/* RIGHT NAV */
.right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.right-nav a {
  color: #fff;
  text-decoration: none;
}

/* SEARCH */
.search-box {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.15);
  padding: 6px 10px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 12px;
  width: 120px;
}

.search-box i {
  margin-left: 6px;
  font-size: 13px;
}

/* HERO TEXT */
.hero-content {
  position: relative;
  z-index: 2;

  margin-top: auto;
  padding: 0 0px 20px;
}
.hero-content {
  margin-left: 725px;   
}

.hero-content h1 {
  font-size: 40.5px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}

/* BUTTON */
.btn-watch {
  display: inline-block;
  background: #cc0000;
  color: #fff;
  padding: 10px 24px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

/* RESOURCES BAR */
.resources {
  background: #fff;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;

  padding: 16px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.resources .label {
  font-style: italic;
  color: #666;
}

.resources a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
}
